body {
  text-align: center;
  font-family: Helvetica;
}

.header_image {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url(./images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right left;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.ribbon_header {
  color: white;
  background-image: url(./images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
